* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

main {
    
}

main div {
    background-color: rgb(255, 255, 255);
}


.climate0, .climate1, .climate2, .climate3 ,.climate4
    {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;


        opacity: 0.7;
    }
    

.climate0{
    background-image: url('../images/img0.jpg');
    min-height: 100vh;
   
}

.climate1{
    background-image: url('../images/img1.jpg');
    min-height: 60vh;
    
}
.climate2{
    background-image: url('../images/img2.jpg');
    min-height: 60vh;
    
}
.climate3{
    background-image: url('../images/img3.jpg');
    min-height: 60vh;
    
}

.climate4{
    background-image: url('../images/img4.jpg');
    min-height: 60vh;
    padding-top: 40vh;

}

.section{ 
     background-image: url('../images/qm1.png'), url('../images/qm2.png' );
     background-position: 0% 8%, 100% 100%;
    background-repeat: no-repeat no-repeat;
    background-size:80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(245, 245, 245);
   
}

.dark {

        filter: invert(1);
}

.section div {
    box-sizing: content-box;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2ch;
    padding-right: 2ch;
   
   
}

.section p{
    margin-top: 100px;
    margin-bottom: 100px;


}